linux/51_vim/vimfiles/viminfo
linux/51_vim/vimfiles/.netrwhist
linux/51_vim/vimfiles/plugged
macos/15_vim/vimfiles/viminfo
macos/15_vim/vimfiles/.netrwhist
macos/15_vim/vimfiles/plugged
linux/49_ranger/packages
*.pyc
__pycache__/
