libs/fzf/fzf
libs/git/gitstatus
libs/vim/vimfiles/autoload/*
libs/vim/vimfiles/plugged
libs/vim/vimfiles/viminfo
libs/vim/vimfiles/.netwhist

libs/bat
libs/bin
libs/fd
libs/rg

*.pyc
__pycache__/

docs/.DS_Store
